# Xcode & Swift
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate

# Swift Package Manager
/.build
/Packages
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
